PORT=3000
MONGODB_URI="mongodb+srv://IAF:Anmol@jee2022@cluster0.jiduqcs.mongodb.net/?appName=Cluster0"
JWT_SECRET="change_me"
OTP_GATEWAY_URL="http://msg.com:8080/smsc/sends msg"
OTP_EXPIRY_MINUTES=5
SKIP_OTP_SEND=false